@use "../../responsive.scss" as res;

.Layout {
    height: 100vh;
    max-width: 1366 px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;


    @include res.lg {
        // background-color: rgb(247, 210, 196);
        max-width: 1280px;
    }

    @include res.md {
        // background-color: rgb(158, 185, 236);
        max-width: 768px;
    }


    @include res.sm {
        // background-color: rgb(240, 147, 147);
        max-width: 540px;
    }
    
    .content{
        // background-color:purple;
        height: calc(100vh - 100px);
        flex: 1;
    }    

}