@use "./responsive.scss" as res;

.Layout{
    background-color: rebeccapurple;
    height:100vh;
    max-width: 988px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
    .container {
        @include res.lg { 
            background-color: coral;
        }

        @include res.md {  
            background-color: cornflowerblue;
        }

        @include res.sm {  
            background-color: red;
        }
    }
    
}
